/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*
!/src/minecraft/TheCybefreak100/minecraft/newBlocks/*

*.bat
*.sh



*.class

# Package Files #
*.jar
*.war
*.ear
