/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/cpw/*
/src/minecraft/ibxm/*
/src/minecraft/net/*
/src/minecraft/paulscode/*
/src/minecraft_server/*
/src/common/*
!/src/common/dries007/
!/src/common/mcmod.info
!/src/common/SP.png

*.bat
*.sh



*.class

# Package Files #
*.jar
*.war
*.ear
